.main {
  margin: 0;
  box-sizing: border-box;
}
.center {
  text-align: center;
  font-size: 1.3rem;
  color: rgb(212, 43, 85);
  font-family: cursive;
  border-bottom: 2px solid rgb(212, 43, 85);
}
.card {
  display: flex;
  margin-top: 20px;
  background-color: antiquewhite;
  border-radius: 10px;
  padding: 33px 22px;
  width: 30vw;
  height: 50vh;
  justify-content: center;
}
.name {
  margin-bottom: 10px;
}
.natureType {
  margin-top: 20px;
  margin-left: 10px;
  padding: 4px;
  display: inline;
  font-size: 1.5rem;
  background-color: aquamarine;
  border-radius: 5px;
  border: 1px solid rgb(0, 0, 0);
}
.mainCard{
  height: 100px;
}
.pokemonNnumber {
  margin-top: 10px;
  font-size: 1.2rem;
  color: grey;
}
.btn {
  padding: 8px 20px;
  margin-left: 40px;
  border-radius: 10px;
  cursor: pointer;
  border: 1px solid aquamarine;
  background-color: aquamarine;
}